* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, a:visited {
    color: antiquewhite;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: column;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Page content */
main, header {
    margin-left: 200px;
    padding: 1rem;
}

/* Responsive */

/* @media screen and (max-width: 400px) {
    .sidenav{
        width: 100%;
    }
    .sidenav a {
      text-align: center;
      float: none;
    }
} */