/* General setting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: column;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidenav a {
    color: #818181;
    padding: 0.5rem;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.closebtn{
    display: none;
}
.sidenav-responsive{
    display: none;
}

/* Page content */
main, header {
    margin-left: 200px;
    padding: 1rem;
}

/* Responsive */

@media screen and (max-width: 800px) {

    /* General setting */
    main, header {
        margin : 1rem;
    }

    /* Navigation */
    .sidenav{
        display: none
    }
    
    .sidenav-responsive{
        display: block;
        width: 100%;
        background-color: #111;
        display: flex;
        justify-content: end;
    }

    .closebtn{
        display: block;
    }
    
    .toggle, .closebtn {
        color: #818181;
        padding: 1rem;
    }

    .toggle:hover, .closebtn:hover  {
        color: #f1f1f1;
    }
}